body {
    font-family: Arial, sans-serif;
}

#filterBtn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#filterMenu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 20px;
    z-index: 1000;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-content {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

#closeFilter {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.options button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
}

.options button:hover {
    background-color: #f0f0f0;
}
